body {
	font-family: "Helvetica", sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 16px;
}

ul, .hero-text {
	font-size: 18px;
	color: #e5e7eb;
}

button, .cta {
	background: #3882f6;
	color: #f9faf8;
}

button {
	border: none;
	border-radius: 4px;
	padding: 8px 24px;
	font-weight: bold;
}

.header-section,
.info-section,
.quote-section,
.cta-section,
.footer-section {
	padding-left: 200px;
	padding-right: 200px;
}

.header-section, .footer-section {
	background: #1f2937;
	color: #f9faf8;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-header {
	font-size: 48px;
	font-weight: 800;
	margin: 0;
}

.hero-content {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	margin-bottom: 150px;
}

.hero-text {
	margin: 0;
}

.card-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.card-right {
	display: flex;
}

.quote-section {
	background: #e5e7eb;
	padding: 100px 350px;
}

.header-logo {
	font-size: 24px;
	font-weight: 700;
}

.info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 80px;
}

.info-header {
	font-size: 36px;
	font-weight: 800;
}

.card-deck {
	display: flex;
	gap: 80px;
}

.card-square {
	width: 150px;
	height: 150px;
	border: 3px solid #3882f6;
	border-radius: 12px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 18px;
	color: gray;
	width: 150px;
}

.quote-text {
	font-size: 36px;
	font-weight: 300;
}

.quote-signature {
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 24px;
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 100px;
	gap: 100px;
	border-radius: 10px;
}

.cta-section {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.cta-heading {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.cta-text {
	font-size: 18px;
	margin: 0;
}

.cta-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cta-button {
	border: 2px solid #f9faf8;
}

.footer-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}